attrs==22.2.0
colorama==0.4.6
coverage==7.1.0
exceptiongroup==1.1.0
iniconfig==2.0.0
packaging==23.0
pluggy==1.0.0
pylint==2.16.2
pylint-json2html==0.4.0
pytest==7.2.1
pyinstaller==5.8.0
pyinstaller-hooks-contrib==2023.0
tomli==2.0.1
pycodestyle==2.10.0
requests==2.28.2
python-dotenv==1.0.0
textstat==0.7.3
Flask==2.2.2
typing==3.10.0.2
numpy==1.23.2
openai==0.27.4
setuptools~=60.2.0
torch~=2.0.0
transformers~=4.28.1